@import '~theme/theme.styl'

.root
  cursor pointer
  display inline-flex
  align-items center
  justify-content center
  box-sizing border-box
  text-decoration none
  color inherit
  user-select none

.control
  width 30px
  transition .1s ease-out
  transition-property background-color, color

  &.checked
    background-color $accentColor
    color $decentColor

.label
  display flex
  height 100%
  align-items center
  margin-left $indent_s
  cursor pointer
