@import '~theme/theme.styl'

checkmark(scale)
  transform scale(scale) rotateZ(-45deg)
  transform-origin center

.root
  cursor pointer
  display inline-flex
  align-items center
  justify-content center
  box-sizing border-box
  text-decoration none
  color inherit
  user-select none

.controlWrapper
  position relative
  width 30px
  height 30px

.control
  background-color $accentColor
  transition .1s ease-out
  transition-property background-color, color
  cursor pointer
  borderRadius(1.2)

  &.checked
    background-color $accentColor

.checkmark
  position absolute
  left 0px
  top 6px

  height 100%
  width 100%

  checkmark(.6)
  opacity 0
  transition .1s ease-in
  transition-property transform, opacity, top
  pointer-events none

  &::before
  &::after
    content ''
    position absolute
    width 4px
    background-color $decentColor
    border-radius 2px

  &::before
    z-index 1
    left calc(50% - 2px)
    height 16px
    transform rotateZ(9deg)

  &::after
    top 2px
    left 22px
    height 20px
    transform rotateZ(-102deg)

  &.checked
    checkmark(.8)
    opacity 1

  &.focused
    checkmark(.65)

.root:hover .checkmark
  checkmark(.65)

.label
  display flex
  align-items center
  align-self stretch
  padding-left $indent_s
  cursor pointer
