@import '~theme/theme.styl';

.root
  display flex
  padding $indent_s

  @media(min-width: $tablet)
    padding $indent_m

  @media(min-width: $desktop)
    padding $indent_l

.vertical
  flex-direction column


