@import '~theme/theme.styl';

.root
  display flex
  align-items center

.user
  display flex
  align-items center

.avatar
  height 30px
  width @height
  background no-repeat center;
  margin-left $indent_s

.menu
  justify-content flex-end
