.root
  height 30px
  width 30px
  min-width 30px
  background url(/logo.svg) no-repeat center
  transition transform .1s ease-out
  padding 0

  &:hover
    transform scale(1.05)

  &:active
    transform none
