@import '~theme/theme.styl';

.loading
  opacity .8
  pointer-events none
  transition opacity .2s ease-out

.field
  display flex
  flex-direction column

  & + &
    margin-top $indent_s

    &.clearMargins
      margin-top 0

  &.changed::after
    contnet ''
    position absolute
    height 5px
    width 5px
    border-radius 50%
    background-color $activeColor
    box-shadow 0 1px 1px $decentColor

.hidden
  display none

.error
  margin 5px
  color #e91b20
  font-size 80%
