@import '~theme/theme.styl'

.root
  display inline-flex
  align-items center
  justify-content center
  box-sizing border-box

  line-height 1em
  text-decoration none
  color inherit

  cursor pointer
  user-select none

  &.loading
    pointer-events none

  &.checked
    background-color $accentColor
    color $decentColor

    path
      fill $decentColor

.spinner
  margin-left $indent_s
