@import '~theme/theme.styl'

.root
  cursor pointer
  display inline-flex
  align-items center
  justify-content center
  box-sizing border-box
  text-decoration none
  color inherit
  user-select none

  &.loading
    pointer-events none

.spinner
  margin-left 5px
