@import '~theme/theme.styl'

.root
  display inline-block
  animation .5s 'spin' linear infinite

.paddedX
  padding 0 $indent_s

@keyframes :global(spin) {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
