$tablet = 500px
$desktop = 1200px

$indent_s = 10px
$indent_m = 20px
$indent_l = 30px

$accentColor = rgba(0,0,0,.9)
$accentColorLight = rgba(0,0,0,.05)
$decentColor = rgba(255,255,255,.9)
$activeColor = rgb(255, 213, 46)
$activeColorLight = rgba(255, 213, 46, .4);
$overlayColor = rgba(239, 239, 239, .96)

controlBorder(color = $accentColor)
  box-shadow inset 0 0 0 2px color
