@font-face {
  font-family: Play;
  src: url(/fonts/Play-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: PlayBold;
  src: url(/fonts/Play-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Play;
  font-size: 16px;
  outline: none;
}
