.toolbar
  z-index 1
  display flex
  align-items center
  position relative
  min-height 46px
  padding 5px
  box-sizing border-box
  padding-bottom 10px // space for scroll bar
  white-space nowrap
  overflow auto visible

.item
  & + &
    margin-left 3px
