@import '~theme/theme.styl';

.root
  display flex
  align-items center
  z-index 10

.title
  margin 0 20px
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  padding 0

.gap
  flex-grow 1
