@import '~theme/theme.styl'

.control
  appearance none
  outline none
  background-color transparent
  box-sizing border-box
  borderRadius()

  &[disabled]
    color #808080
    cursor not-allowed

.decor
  position relative

  &::before
    z-index 1
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    borderRadius()
    controlBorder($accentColor)
    pointer-events none
    transition all .1s ease-out

  &:hover::before
    controlBorder(mix($accentColor, $activeColor, 30%))

  &.focused::before
    controlBorder($activeColor)

  &.disabled
    &
    &::before
      opacity .5
      background-color $accentColorLight

    &::before
      controlBorder($accentColor)

.size

  &_s
    height 30px
    min-height 30px
    max-height 30px
    min-width 30px
    padding 0 10px
    font-size 80% !important

  &_m
    height 40px
    min-height 40px
    max-height 40px
    min-width 40px
    padding 0 12px
    font-size 100% !important

  &_l
    height 50px
    min-height 50px
    max-height 50px
    min-width 50px
    padding 0 14px
    font-size 120% !important

.fullWidth
  width 100%
