@import '~theme/theme.styl'

// fight with autofill user-agent styles
.root
  filter none

  &:-internal-autofill-selected
  &:-webkit-autofill
    animation-name clearBg
    animation-fill-mode both

    &::selection
      background $activeColor !important

@-webkit-keyframes clearBg {
  to {
    background transparent
  }
}
