@import '~theme/theme.styl'

// A: fight with autofill user-agent styles

.control
  width 100%
  filter none // A

  &.isFile
    opacity 0

  // A
  &:-internal-autofill-selected
  &:-webkit-autofill
    animation-name clearBg
    animation-fill-mode both

    &::selection
      background $activeColor !important

.label
  margin -2px 0 2px
  font-size 80%
  display block

  &:after
    content ' :'

.loading .control
  opacity .5
  pointer-events none

@-webkit-keyframes clearBg {
  to {
    background transparent
  }
}
