@import '~theme/theme.styl'

.root
  position relative
  display inline-block

.trigger
  display flex
  cursor pointer

  &.disabled
    pointer-events none

.contentWrapper
  position absolute
  pointer-events none

.content
  position absolute
  min-width 100px
  borderRadius()
  margin 3px
  opacity 0
  background-color $decentColor
  transform-origin top center
  transform scale3d(.5, .5, .5)
  transition .1s ease-out
  transition-property opacity, transform
  z-index 10
  pointer-events all
  overflow hidden

  &.outlined::after
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    box-shadow inset 0 0 0 1px rgba(0,0,0,.2)
    pointer-events none
    z-index 11
    border-radius inherit

  &.open
    transform scale3d(1, 1, 1)
    opacity 1

// -----
.axis-top
  bottom 100%
.axis-bottom
  top 100%
.axis-right
  left 100%
.axis-left
  right 100%

.float-top
  bottom 0
.float-right
  left 0
.float-bottom
  top 0
.float-left
  right 0

.axis-top
  &.float-right
    transform-origin bottom left
  &.float-left
    transform-origin bottom left

.axis-bottom
  &.float-right
    transform-origin top left
  &.float-left
    transform-origin top right

.axis-right
  &.float-top
    transform-origin bottom left
  &.float-bottom
    transform-origin top left

.axis-left
  &.float-top
    transform-origin bottom right
  &.float-bottom
    transform-origin top right
