@import '~theme/theme.styl'

.root
  position relative
  display inline-block

.trigger
  display flex
  cursor pointer

  &.disabled
    pointer-events none

.contentWrapper
  position absolute

.content
  position absolute
  min-width 100px
  border-radius 2px
  margin 3px
  opacity 0
  background-color $decentColor
  transform-origin top center
  transform scale(.5)
  transition all .1s ease-out
  z-index 10

  &.open
    transform scale(1)
    opacity 1

.bottom
  top 100%
  transform-origin top center

.top
  bottom 100%
  transform-origin bottom center

.right
  right 0
  transform-origin bottom right

.left
  left 0
  transform-origin bottom left

.bottom.left
  transform-origin top left

.bottom.right
  transform-origin top right
