@import '~theme/theme.styl'

.root
  position relative
  display inline-block

.trigger
  display flex
  cursor pointer

  &.disabled
    pointer-events none

.content
  position absolute
  min-width 100px
  margin-top 3px
  border-radius 2px
  opacity 0
  background-color $decentColor
  transform-origin top center
  transform scale(.5)
  transition all .1s ease-out

  &.outlined
    box-shadow 0 0px 0px 2px $decentColor

.bottom
  top 100%
  transform-origin top center

.top
  bottom 100%
  transform-origin bottom center

.right
  right 0
  transform-origin bottom right

.left
  left 0
  transform-origin bottom left

.bottom.left
  transform-origin top left

.bottom.right
  transform-origin top right

.open

  & .content
    transform scale(1)
    opacity 1
