@import '~theme/theme.styl'

.root
  width 300px
  max-width 100%

.form
  margin-top $indent_s

.wrap
.header
.footer
  display flex
  align-items center
  justify-content space-between

.link
  text-decoration none

.footer
  margin-top $indent_s

.gap
  flex-grow 1
