@import '~theme/theme.styl'

accent(color = $accentColor, bgColor = $accentColorLight)
  box-shadow inset 6px 0 0 -3px color
  background-color bgColor

  .right &
    box-shadow inset -6px 0 0 -3px color

.root:not(.horizontal)
  display flex
  flex-direction column

.item
  position relative
  display inline-flex
  align-items center
  user-select none
  background-size 20px
  transition .1s ease-out
  transition-property box-shadow, transform
  transform-origin 0 center
  background-position-y center
  background-repeat no-repeat

  &.clickable
    cursor pointer

    &:active
    &.selected:hover
      transform scale(0.98)

.padded .item
  padding 5px $indent_s

.paddedX .item
  padding 0 $indent_s

.highlighted .item

  &:hover
    accent($activeColor, $activeColorLight)

  &.selected
    accent()

.right .item
  justify-content flex-end

