@import '~theme/theme.styl'

#app-title
  display flex
  flex-grow 1

.title
  display inline-block
  min-width 0
  padding-right $indent_s
  padding-top 0
  padding-bottom 0

  white-space nowrap
  text-overflow ellipsis
  overflow hidden

.gap
  flex-grow 1
